Assignment 1/assignment exports/EGI_2024_A1_numerics.xlsx
Assignment 1/assignment exports/EGI_2024_A1.docx
Assignment 1/assignment exports/gdp_growth_scen_1.png
Assignment 1/assignment exports/gdp_rel.png
Assignment 1/assignment exports/growth_comparison.png
Assignment 1/assignment exports/log_gdp_scen_1.png
Assignment 1/assignment exports/writing_file.xlsx
